selenium==4.9.*
pyautogui==0.9.*
undetected-chromedriver==3.5.*

beautifulsoup4==4.12.2
opencv-python==4.8.1.78
pyvirtualdisplay==3.0

python-dotenv==1.0.*
semver==3.0.*
tqdm==4.66.*
opencv-python==4.8.1.78
screeninfo==0.8.1
pyyaml==6.0.*

requests==2.31.*

pydantic==2.4.*

fastapi==0.104.*
uvicorn==0.23.*
IPython==8.17.*
